<div class="header">
   <nav>
      <ul>
         <li>
            <a>
               <fa-icon class="fa-md" icon="home"></fa-icon>
               Início
            </a>
         </li>

         <li>
            <a>
               <fa-icon class="fa-md" icon="clipboard-check"></fa-icon>
               Cadastro
            </a>
         </li>

         <li>
            <a>
               <fa-icon class="fa-md" icon="search"></fa-icon>
               Consulta
            </a>
         </li>

         <li>
            <a>
               <fa-icon class="fa-md" icon="question-circle"></fa-icon>
               Ajuda
            </a>
         </li>

      </ul>
   </nav>

   <div class="login">
      <a>
         log
         <fa-icon class="fa-md" icon="angle-down"></fa-icon> 
      </a>
   </div>
   
</div>