<div class="container-fluid containerAll">
   <div id="circleUp"></div>

   <div class="toggleMode">
      <app-dark-mode></app-dark-mode>
   </div>

   <div class="content">
      <img src="../../assets/logos/logo-oficial.png" width="150">
      <h2>Bem-vindo ao Sistema Hospitalar, Usuário</h2>
      <p>Escolha uma das opções de menu</p>
      <br><br>

      <input type="text" clas="inputText" id="app" (click)="botaoTest()">
      
      <app-menu-abertura></app-menu-abertura>
   </div>

   
   
</div>

