<div class="container-fluid fullHeight">
   <img class="img-back" src="../../assets/images/Image background.png" alt="background">

   <div class="toggleMode">
      <app-dark-mode></app-dark-mode>
   </div>
      
   <div class="card sizeCard">
      <form>
         <span class="modeLogo">
            <img class="logoOtto" src="../../assets/logos/otto-Oficial.png" alt="logo">
            <!-- src="../../assets/logos/otto-White.png" -->
         </span>

         <span>Acesse seu perfil</span>
         <h5>Sistema Hospitalar</h5> 
         
         <div class="form-group">
            <label for="exampleInputEmail1">Login</label>
            <input type="email" class="form-control" id="exampleInputEmail1" 
               placeholder="ex. silva.costa" aria-describedby="emailHelp">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your </small> -->
         </div>
   
         <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" placeholder="digite sua senha" 
               id="exampleInputPassword1">
         </div>
   
         <div class="form-group">
            <a>
               <p>
                  Esqueci a senha
               </p>
            </a>
         </div>
         
         <div class="buttonContent">
            <button type="button" class="btn btn-primary" routerLink="/abertura">Login</button>
         </div>
      </form>
   </div>
</div>
