<app-abertura></app-abertura>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link disabled">Disabled</a>
            </li>
         </ul>
      </div>
   </div>
</nav> -->


<nav aria-label="breadcrumb testColor">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">  Library</li>
      <li class="breadcrumb-item active" aria-current="page"> Assets</li>
   </ol>
</nav>




<div class="container">
   <tabset>
      <tab heading="Basic title" id="tab1">

         <br>
         <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
               [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
               Toggle collapse
         </button>
         <hr>
         <div id="collapseBasic" [collapse]="isCollapsed">
            <div class="well well-lg card card-block card-header">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis non eros non blandit. 
                  Etiam sagittis orci non porttitor tincidunt. Maecenas viverra quis leo ac malesuada. Duis interdum 
                  leo nisl, et feugiat mi hendrerit ac. Praesent ante elit, tempus vel vestibulum nec, ultrices nec lacus. 
                  Phasellus tempus turpis ac consequat consequat. Integer congue congue lacus. Nam libero leo, lobortis 
                  at metus a, varius feugiat felis.
               </p>
            </div>
         </div>
         

      </tab>

      <tab heading="Basic Title 1">

         <div class="container">
            <div class="btn-group" dropdown>
               <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                       aria-controls="dropdown-basic">
                 Button dropdown <span class="caret"></span>
               </button>
               <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                   role="menu" aria-labelledby="button-basic">
                 <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                 <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                 <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                 <li class="divider dropdown-divider"></li>
                 <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                 </li>
               </ul>
             </div>
         </div>   

      </tab>


      <tab heading="Basic Title 2">

         <div class="container">
            <button type="button" class="btn btn-primary" (click)="openModal(template)">
               Create template modal
            </button>
         
            <ng-template #template>
               <div class="modal-header">
                  <h4 class="modal-title pull-left">Modal</h4>
                  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                     <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
               </div>

               <div class="modal-body">
                  This is a modal.
               </div>
            </ng-template>
         </div>

      </tab>

   </tabset>
</div>

<br>
<br>
<div class="container">
   <div class="row">
      <div class="col-4">
         <h5>Tipo de exame</h5>
      </div>
         
      <div class="col-4">
         <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
   </div>
</div>




<!-- <div class="container">
   <div class="row">
      <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
         <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker
               [bsConfig]="{ containerClass: 'theme-orange', showClearButton: true, clearPosition: 'right' }">
      </div>
   </div>
</div> -->



<br>
<br>
<div class="container">
   <div class="row">
      <div class="col-xs-12 col-12 col-md-4 col-lg-4 form-group mb-3">
         <select
            class="custom-select form-control from-select"
            [(ngModel)]="colorTheme" (ngModelChange)="applyTheme(dp);">
               <option value="theme-default">default</option>
               <option value="theme-green">green</option>
               <option value="theme-blue">blue</option>
               <option value="theme-dark-blue">dark-blue</option>
               <option value="theme-red">red</option>
               <option value="theme-orange">orange</option>
         </select>
      </div>
        
      <div class="col-xs-12 col-12 col-md-5 col-lg-5 form-group mb-3">
         <div class="form-group mb-3">
            <div class="input-group">
   
               <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
   
                  <div class="input-group-btn">
                     <button class="btn btn-success" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen" type="button">
                        Open
                     </button>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>


   
<div class="pr-3 pb-3 pe-3 w-auto">
   <bs-datepicker-inline [bsValue]="bsInlineValue" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"></bs-datepicker-inline>
</div>





<!-- 
   <div class="container">
   <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker
             [bsConfig]="{ adaptivePosition: true }">
   </div>
</div>
-->

<br>
<br>
<div class="container">
   <timepicker [(ngModel)]="myTime" ></timepicker>
   <pre class="alert alert-info">Time is: {{ myTime }}</pre>
</div>


<br>
<br>

<div class="container col-6">
   <table class="table table-hover">
      <thead class="testColor">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Horário</th>
          <th scope="col">Sequência</th>
          <th scope="col">Profissional</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row">1</th>
          <td>15:00</td>
          <td>(06/10)</td>
          <td>Selecionado</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>16:00</td>
          <td>(06/10)</td>
          <td>Ocupado</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>17:00</td>
          <td>(06/10)</td>
          <td>Ocupado</td>
        </tr>
      </tbody>
    </table>
</div>



<br>
<br><br>
<br><br>
<br>
<br>
<br>

<nav>
   <ul>
      <li>
         <a>
            <fa-icon class="fa-2x" icon="home"></fa-icon>
            Início
         </a>
      </li>

      <li>
         <a>
            <fa-icon class="fa-2x" icon="clipboard-check"></fa-icon>
               Cadastro
         </a>
      </li>

      <li>
         <a>
            <fa-icon class="fa-2x" icon="search"></fa-icon>
               Consulta
         </a>
      </li>

      <li>
         <a>
            <fa-icon class="fa-2x" icon="question-circle"></fa-icon>
               Ajuda
         </a>
      </li>
   </ul>
</nav>





<fa-icon class="fa-2x" icon="suitcase"></fa-icon>
<fa-icon class="fa-2x" icon="heart"></fa-icon>
<fa-icon class="fa-2x" icon="hotel"></fa-icon>
<fa-icon class="fa-2x" icon="laugh"></fa-icon>





  













































































