@import 'src/styles'

.main
  display: flex
  flex-direction: row

  .navLeft
    width: 215px
    height: 100%
    background-color: $gray-200
    border: 1px solid $gray-300
    display: flex
    flex-direction: column
    word-wrap: break-word


    .mainAfter
      display: none



