<div class="container">

   <div class="modelMenu">
      <a routerLink="/dash">
         <div class="circleMenu">
            <fa-icon class="fa-3x" icon="suitcase"></fa-icon>
         </div> 
      </a>
      <h5>Administrativo</h5>
   </div>
   
   <div class="modelMenu">
      <a>
         <div class="circleMenu">
            <fa-icon class="fa-3x" icon="heart"></fa-icon>
         </div>
      </a>
      <h5>Assistêncial</h5>
   </div>
   
   <div class="modelMenu">
      <a>
         <div class="circleMenu">
            <fa-icon class="fa-3x" icon="hotel"></fa-icon>
         </div>
      </a>
      <h5>Estrutura</h5>
   </div>
   
   <div class="modelMenu">
      <a>
         <div class="circleMenu">   
            <fa-icon class="fa-3x" icon="laugh"></fa-icon>
         </div>
      </a>
      <h5>Gestão</h5>
   </div>
   
</div>


