@import "src/styles"

.teste
   display: flex
   align-items: center
   justify-content: center
   flex-direction: row
         
   .circleMenu
      background-color: $gray-400
      border-radius: 50%
      width: 160px
      height: 160px
      margin: 0 20px