<div class="container">

   <div class="modelMenu">
      <div class="circleMenu">
         <fa-icon class="fa-4x" icon="suitcase"></fa-icon>
      </div>
      <p>Administrativo</p>
   </div>
   
   <div class="modelMenu">
      <div class="circleMenu">
         <fa-icon class="fa-4x" icon="heart"></fa-icon>
      </div>
      <p>Assistêncial</p>
   </div>
   
   <div class="modelMenu">
      <div class="circleMenu">
         <fa-icon class="fa-4x" icon="hotel"></fa-icon>
      </div>
      <p>Estrutura</p>
   </div>
   
   <div class="modelMenu">
      <div class="circleMenu">   
         <fa-icon class="fa-4x" icon="laugh"></fa-icon>
      </div>
      <p>Gestão</p>
   </div>
   
</div>