/* You can add global styles to this file, and also import other style files */


$primary: #2B2AFC
$primaryDark: #111064
$primaryLight: #e9e9fe

$secondary: #007DFF
$secondaryDark: #152536 
$secondaryLight: #ABB5BE

$thirdColor: #FC9109
$thirdColorLight: #fdc884

$succcess: #223B3D
$fail: #DC3545
$warning: #FFC107
$links: #2B2AFC

* 
   background-color: $secondaryDark
   border:  $primaryDark
   color: $thirdColor

   


















@import "node_modules/bootstrap/scss/bootstrap"






*
   margin: 0
   padding: 0

