/* You can add global styles to this file, and also import other style files */

   
$primaryBlue: #2B2AFC
$primaryDarkBlue: #111064
$primaryLightBlue: #e9e9fe

   
$secondaryGray: #007DFF
$secondaryDarkGray: #152536 
$secondaryLightGray: #ABB5BE


$thirdColor: #FC9109
$thirdColorLight: #fdc884


$black: #000
$white: #FFF


$textColor: #000000
$bodyColor: #6C757D


$gray-100: #F8F9FA
$gray-200: #E9ECEF
$gray-300: #DEE2E6
$gray-400: #CED4DA
$gray-500: #ADB5BD
$gray-600: #6C757D
$gray-700: #495057
$gray-800: #343A40
$gray-900: #212529


  
$succcess: #223B3D
$fail: #DC3545
$warning: #FFC107
$links: #2B2AFC



* 
   margin: 0
   padding: 0
   border: $gray-300
   

   


















@import "node_modules/bootstrap/scss/bootstrap"






*
   margin: 0
   padding: 0

